.taghead,
.co1-1 p,
.co1-2 h3 {
    border-bottom: rgb(238, 238, 238) ridge 2px;
}

.co1-1 p a {
    background-color: unset;
}


.front-index a {
    color: black;
    background-color: rgb(249, 249, 249);
    border-radius: 20px;
    margin: 2px;
    padding: 5px;
    display: inline-block;

}

.iconbt,
.iconbtlabel img {
    position: fixed;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
    top: 0%;
    /* right: 0px; */
    width: 40px;
    height: 40px;
    /* padding: 2px; */
}

.iconbt:hover,
.iconbtlabel img:hover {
    transition:
        width 0.5s,
        height 0.5s;
    width: 50px;
    height: 50px;
}

.warning_out {
    display: flex;
    justify-content: center;
}

.warning {
    /* position: absolute; */
    /* top: 40px; left: 25%; */
    display: flex;
    /* justify-content:center; */
    background-image: url("./uploadimg/KV_smoke_2880.dd9c01d6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* position: relative; */
    /* justify-content: center; */
    /* 邊框 */
    border: groove 5px rgb(204, 229, 255);
    /* border-image-source: url('./uploadimg/GNbWXMObAAAJn0o.jpg');   */
    /* 背景颜色 */
    background-color: rgba(50, 255, 80, 0.5);
    flex-direction: column;
    /* 設置圓角 */
    /* border-radius: 0rem 0rem 2rem 2rem; */

    width: 1200px;
    height: 200px;
    overflow: auto;
    max-width: 80%;
    max-height: 200px;
    align-items: center;
}

/*圖片大小*/
/* .warning img { */
/* border-radius: 10%; */
/* border-bottom-style: groove; */
/* border-bottom: 4mm ridge rgba(211, 220, 50, .6); */


/* width: 250px; */
/* height: 250px; */

/* max-width: 100%; */
/* 確保圖片不超出其容器 */
/* max-height: 100%; */
/* 確保圖片不超出其容器 */
/* } */
.warningicon_out {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 170px;
    max-width: 80%;
    max-height: 200px;
    overflow: hidden;
}

.warningicon label img {
    display: flex;
    border: 1px ridge #f00;
    border-radius: 100%;
    bottom: 0rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin: 0%;
    width: 75px;
    height: 73px;
}

.warningIMG {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    height: 150px;

    max-width: 100%;
    max-height: 200px;
    align-items: start;

}

.readwarningBG {
    display: flex;
    /* justify-content: start; */
    /* position: absolute; */
    margin-left: 5px;
    /* bottom: 0px; */
    /* left: 0px; */
    border: 2px ridge #555;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: green;
    text-align: center;

}

.readwarningBG:hover {
    transition:
        background-color 0.5s;
    background-color: #f00;
}

.front-index {
    width: 1200px;
    max-width: 80%;
    font-size: 15px;
}

.front {
    width: 100%;
    display: flex;
    justify-content: center;
}

.taghead {
    display: flex;
    justify-content: space-between;

}

.taghead h2 {

    margin: 0;
}

.co1-1,
.co1-2 {
    border: groove 5px rgba(204, 229, 255);
    background-color: rgba(232, 232, 232, 0.8);
    margin-top: 10px;
    padding: 10px;
}

#distag {
    overflow: hidden;
    height: 225px;
    transition: height 0.3s;
    /* background-color: lightblue; */
}
#distag #p,#distag #m{
    /* width: 20px; */
    padding-left: 10px;
    padding-right: 10px;
    /* height: auto; */
}


#distag.open {
    height: 500px;
    overflow-y: auto;
    overflow-x:hidden ;
}

.changeB {
    align-items: center;
    gap: 10px;
}

#changeB input {
    margin: 0;
    /* padding: 0; */

}

#plusbt {
    width: 20px;
    height: 26px;
}

.front_right {
    /* display: flex;
    justify-content: center; */

    width: 100%;
    height: auto;
    max-width: 80%;
    max-height: 200px;
    margin-right: 10px;

}

.front_left {
    max-width: 20%;
    width: 200%;
}

.upload_BG_ImgAre {
    position: fixed;
    bottom: 0rem;
    display: flex;
}

.upload_BG_ImgAre input {
    /* border: 5px ridge rgb(36, 205, 118); */
    /* border-radius: 2rem; */
    color: #f00;
    transition: all 2s;
}

.upload_BG_ImgAre_inputButton {

    border-style: dashed;
    border-radius: 100%;
    border-width: 3px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(245, 0, 0);

}

.upload_BG_ImgAre_inputButton img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 0%;
}

.upload_BG_ImgAre_inputButton:hover {
    transition:
        background-color 0.5s;
    background-color: #ffcccc;

}
#tablecontent .dd {
    /* display: inline-flex;
    position: relative; */
}
#tablecontent a {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#tablecontent a.visible {
    opacity: 1;
    transform: translateX(0);
}
#tablecontent .delet_bt{
    cursor:pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 96, 96);
    color: aliceblue;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    border-radius: 100%;
}
.pl_tag_w {
    overflow-y:auto ;
    position: absolute;
    padding: 15px;
    width: 30%;
    height: 80%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    color: black;
    font-size: 25px;
    min-width: 410px;
    min-height: 410px;
}

.pl_tag_w h3 {
    border-bottom: rgb(255, 255, 255) ridge 2px;
}
.pl_tag_w #f_w_head a{
    font-size: unset;
    padding: 0 10px 0 10px;
    color:rgb(109, 117, 124)
}
.pl_tag_w #f_w_head a:hover{
    color:rgb(0, 136, 255);
    direction: unset;
}

.pl_tag_w h4 {
    margin-top: 20px;
}
.pl_tag_w a{
    color: black;
    font-size: 15px;
}

.pl_tag_w span {
    position: absolute;
    margin-right: 15px;
    right: 0px;
    background-position: -533px -279px;
    cursor: pointer;
    /* width: 20px; */
    /* height: 14px; */


}

.pl_tag_w span:hover {
    color: rgb(199, 209, 228);
}

.pl_tag_w input {
    /* display: flex; */
    /* flex:1; */
    width: auto;
    font-size: 15px;
}

.select_col {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
}

.select_col a {
    display: inline-flex;
    line-height: 20px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    background-color: rgb(214, 214, 214);
}


.tag_type{
    height: 60%;
}
.tag_type_checktag_chose_tag{
    /* position: relative; */
    /* height: 60%; */
    max-height: 75%;
    
    overflow-y:auto;
}
#tag_type_form{
    height: 100%;
}
.tagblock {
    display: inline-flex;
    background-color: rgb(214, 214, 214);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin: 3px;
    color: black;
}

.checktag input ,.revise_tag input,.tag_type input{
    /* flex: none; */

    margin: 0;
}

#taggroupline {
    /* display: flex; */
    /* gap: 20px; */
    /* margin-bottom: 10px; */
}

#taggroupline a,#f_w_head a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    position: relative;

}

#taggroupline a.active,#f_w_head a.active {
    color: blue;
}

#taggroupline a:hover::after ,#f_w_head a:hover::after{
    transition: height 0.3s;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: blue;
}

#taggroupline a.active::after, #f_w_head a.active::after{
    content: '';
    text-decoration: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    padding-bottom: 2px;

}
